/* Schrijf hier de verschillende stijlen, die gedeeld gaan
   worden door jullie projecten */

body {
  --primary-font: "Archivo", verdana;
  --secondary-font: "Martian Mono", sans-serif;
  --white: #ffffff;
  --black: #000000;
  --grey: #666666;
  --blue: #364bf7;
  --important: #f7e19f;
  --letter-spacing: -0.04em; /* -4% van de font size */

  /* spacing */
  --size-xs: 0.5rem;
  --size-sm: 1rem;
  --size-md: 2rem;
  --size-lg: 3rem;
  --size-xl: 4rem;
  --size-xxl: 6rem;

  /* default */
  background: var(--white);
  font-family: var(--primary-font);
}

/* CSS reset */
/* ! zet deze aan in je eigen project */
* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

/* Typografie */
h1,
.xxxl {
  font-size: clamp(var(--size-lg), 6vw, var(--size-xxl));
  font-weight: 600; /* stays semibold */
  letter-spacing: var(--letter-spacing);
  line-height: clamp(1em, 5vw, var(--size-xxl));
  text-transform: uppercase;
}

h2,
.xxl {
  font-size: clamp(2.5rem, 5vw, var(--size-xl));
  font-weight: 600; /* stays semibold */
  letter-spacing: var(--letter-spacing);
  line-height: clamp(2.5rem, 4vw, var(--size-xl));
}

h3,
.xl {
  font-size: clamp(var(--size-md), 4vw, 3rem);
  font-weight: 400; /* regular on sm | semiBold on md+ */
  letter-spacing: var(--letter-spacing);
  line-height: clamp(1.5rem, 3.5vw, 1em);
  text-transform: uppercase;
}

h4,
.lg {
  font-size: clamp(1.5rem, 3.5vw, var(--size-md));
  font-weight: 400; /* stays regular */
  letter-spacing: 0;
  line-height: clamp(var(--size-md), 3vw, 2.5rem);
}

h5,
h6,
.md {
  font-size: clamp(1.125rem, 2vw, 1.5rem);
  font-weight: 600; /* stays semibold */
  letter-spacing: 0;
  line-height: clamp(var(--size-md), 2vw, 2.5rem);
}

h6,
.light {
  font-weight: 400; /* stays regular */
}

p,
.sm {
  font-size: clamp(var(--size-sm), 2.5vw, 1.125rem);
  font-weight: 400; /* stays regular */
  letter-spacing: 0;
  line-height: clamp(1.5rem, 2.5vw, var(--size-md));
}

.subtext,
.xs,
p:has(time) {
  font-size: var(--size-sm);
  font-weight: 400; /* stays regular */
  letter-spacing: var(--letter-spacing);
  line-height: 1.5rem;
  font-family: var(--secondary-font);
}

p:has(time) {
  text-transform: uppercase;
}

time::after {
  content: "/";
  padding: 0 0.5rem;
}

.label {
  font-size: var(--size-sm);
  font-family: var(--secondary-font);
  font-weight: 300;
  letter-spacing: -0.06em;
  border: 1px solid var(--black);
  text-transform: uppercase;
  padding: 0 4px  ;
}

.neutral {
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

a {
  color: rgba(var(--blue));
  text-decoration: none;
  position: relative;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  svg > path {
    stroke: rgba(var(--blue));
  }
}

/* nav */

nav {
  position: relative;
  height: 80px;
  padding: 12px 14px;
  background: rgba(var(--white));
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(var(--black));
  position: relative;
  /* overflow: hidden; */
  .nav-items {
    max-width: 360px;
    width: 100%;
    z-index: 30;
    border-top: 1px solid rgba(var(--black));
    padding: 0 24px;
    background: rgba(var(--white));
    top: 0;
    height: 100%;
    right: -376px;
    position: fixed;
    transition: 0.3s ease 0.1s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    ul {
      padding: 48px 0;
      &:first-of-type {
        border-bottom: 1px solid rgba(var(--black));
        > * {
          margin: 48px 0;
          &:first-of-type,
          &:last-of-type {
            margin: 0;
          }
        }
      }
      &:last-of-type > :first-child {
        margin-bottom: 24px;
      }
      li {
        a {
          color: rgba(var(--black));
          &.active {
            color: rgba(var(--blue));
            font-weight: 700;
          }
          span {
            padding: 0 0.25rem;
            font-size: 0.75rem;
            background-color: rgba(var(--blue));
            height: fit-content;
            line-height: 1rem;
            color: rgba(var(--white));
          }
        }
      }
    }
  }
  .nav-items.open {
    right: 0;
    top: 0;
  }
  > a:has(:not(img)) {
    text-align: center;
    height: 100%;
    aspect-ratio: 1;
    z-index: 100;
    padding: 0.5rem;
    color: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(var(--black));

    .lines {
      background: rgba(var(--blue));
      display: block;
      background: rgba(var(--black));
      height: 3px;
      width: 100%;
      &:nth-child(2) {
        width: 80%;
      }
    }
  }
}

/* Formulier elementen */

/* Extra */
/* ::selection {
  background-color: var(--important);
  color: var(--white);
} */
