/* Generieke stijlen, waarschijnlijk hoeven jullie deze niet aan te passen */

@layer styleguide {
  html,
  body {
    scroll-behavior: smooth;
  }
  body {
    max-width: calc(40em + 6rem);
    margin: auto;
    background: var(--white);
    border: 1px solid black;
    border-width: 0 1px;
    padding: 3rem;
  }
  p:not([class]) > code:not([class]) {
    display: block;
  }
  nav:not([class]) > a {
    padding: 0.5em;
    border: 1px solid;
    color: inherit;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  figure:not([class]) {
    display: grid;
    grid-template-columns: 6rem 1fr;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    > code {
      display: grid;
      place-items: center;
      border-radius: 50%;
      /* border: dotted 5px var(--black); */
      aspect-ratio: 1;
      > span {
        font-size: 1rem;
        color: white;
        mix-blend-mode: difference;
        border-radius: 50%;
        border: 5px dotted white;
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
      }
      /* background: #ccc; */
    }
  }
  .white-example {
    background: var(--white);
  }
  .black-example {
    background: var(--black);
  }
  .grey-example {
    background: var(--grey);
  }
  .blue-example {
    background: var(--blue);
  }
  .important-example {
    background: var(--important);
  }
}
